<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
<h1>Categories</h1>

<a href="/categories/add">Add New Category</a> | <a href="/">Home</a><br><br>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.name}">Category Name</td>
        <td th:text="${cat.description}">Description</td>
        <td>
            <a th:href="@{/categories/edit/{id}(id=${cat.id})}">Edit</a> |
            <a th:href="@{/categories/delete/{id}(id=${cat.id})}"
               onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
